html {
  background-color: #51a331;
  color: white;
  border: 4px solid;
  height: 100%;
  max-width: 450px;
  margin: 0px auto;
}
#tittle {
  display: flex;
  justify-content: center;
}

h1 {
  width: 60%;
  margin-top: -13px;
  padding-top: 15px;
  text-align: center;
  border-color: white;
  border: 4px solid;
}

#input {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}
input {
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 25px;
  border-radius: 20px;
  border-color: #51a331;
}

#button {
  padding: 30px;
}
button {
  background-color: #51a331;
  border: #51a331;
}
img {
  width: 30px;
  background-color: white;
  border-radius: 20px;
}
#midfield {
  margin-top: 80px;
  border: 2px solid;
  margin-right: -11px;
  margin-left: -15px;
}
#midfield-sphere {
  border: 4px solid;
  width: 60%;
  margin: auto;
  margin-top: -115px;
  display: flex;
  border-radius: 100%;
  height: 225px;
  justify-content: center;
}
#valueInput {
  text-align: center;
  font-size: 40px;
}

footer {
  display: flex;
  justify-content: center;
  bottom: 0px;
  position: fixed;
}
a {
  height: 130px;
  color: white;
  text-decoration: none;
  width: 250px;
  text-align: center;
  border-color: white;
  border: 4px solid;
  font-weight: bold;
  margin-left: 80px;
  border-bottom: 0px;
}
