html {
  color: white;
  background-color: #1e2936;
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
}
.line {
  margin: 0px auto;
  border: 4px solid;
  background-color: #51a331;
  max-width: 320px;
  height: 100%;
}
#tittle {
  display: flex;
  justify-content: center;
}

h1 {
  width: 60%;
  margin-top: 0px;
  padding-top: 15px;
  text-align: center;
  border-color: white;
  border: 4px solid;
  border-top: 0px;
  height: 112px;
  font-size: 25px;
}

#input {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}
input {
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 25px;
  border-radius: 20px;
  border-color: #51a331;
}
input::placeholder {
  color: #1e2936;
  font-weight: 600;
}

#button {
  padding: 30px;
}
button {
  background-color: #51a331;
  border: #51a331;
}
img {
  width: 30px;
  background-color: white;
  border-radius: 20px;
}
#midfield {
  margin-top: 80px;
  border-top: 4px solid;
}
#midfield-sphere {
  border: 4px solid;
  width: 60%;
  margin: auto;
  height: 200px;
  margin-top: -100px;
  border-radius: 100%;
}
#valueInput {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: center;
}
a {
  margin-top: 30%;
  width: 60%;
  text-align: center;
  border-color: white;
  border: 4px solid;
  border-bottom: 0px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  height: 112px;
  padding-bottom: 15px;
  font-size: 25px;
}
